@use 'modules/homepage'
@use "./var"

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label
    font-family: var.$main-font

nav
    display: flex
    padding: 5px

    p
        width: 60px
        height: 60px
        display: flex
        justify-content: center
        align-items: center
        margin: 2px
        background-color: var.$grey
        border-radius: 90px
        cursor: pointer

        &:hover
            color: var.$light-grey
            background-color: #8E8E8E

        &.active
            color: var.$light-grey
            background-color: red

label, textarea
    margin-bottom: 10px

    input
        width: 40px

        &#name
            width: 150px

.action
    cursor: pointer
    background-color: var.$light-grey
    border-radius: 10px
    text-align: center
    padding: 5px
    margin: 2px
    
    &:hover
        color: white
        background-color: var.$grey

th
    width: 100px